.Menu {
  background-color: #8B0000; /* vermelho escuro */
  padding: 10px;
}

.nav {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-item {
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background-color: #B22222; /* tom intermediário */
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #FF6347; /* tom mais claro ao passar o mouse */
}

.nav-link.active {
  background-color: #DC143C; /* vermelho cereja para link ativo */
}
